<section class="main-header">
  <img src="top.jpeg">
</section>
<section class="about">
  <h1>Speak_appについて</h1>
  <p>
    卒業というゴールまでのイメージは出来ていますか？<br>
    私には未だそのイメージはありませんが・・・
  </p>
  <p>
    このアプリで今の思いを語って下さい！</br>
    そんな思いで作りました。
  </p>
</section>
